body {
    margin: 0;
    padding: 0;
    background-color: #fffbe6;
    font-family:'Times New Roman', Times, serif;
}
.navbar {
    background-color:#a86201; 
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 12px 40px;
}
.left-section {
    display: flex;
    align-items: center;
    gap: 12px;
}
.logo {
    height: 60px;
    border-radius: 5px;
}
.brand-name {
    color: white;
    margin: 0;
    font-size: 30px;
    font-weight:dark;
}
.center-links {
    display:flex;
    gap: 50px;
    margin: 0;     
    padding: 0;
}
.center-links a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 800;
    transition: 0.3s;
}
.center-links a:hover {
    color: darkorange;
}
.right-links {
    display: flex;
    gap: 25px;
}
.right-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    font-weight: 800;
}
.right-links a:hover {
    color: darkorange;
}
